NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_USERNAME=jagadeesh.deeptaai

# Production (Vercel):
# NEXT_PUBLIC_API_URL=https://scaler-server-jagadeeshm.vercel.app/api/v1
# NEXT_PUBLIC_APP_URL=https://scaler-app-jagadeeshm.vercel.app
